POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
DATABASE_URL=postgres://:@localhost:5432/db_name

TEMPA_HTTP_ADDRESS=3000
TEMPA_WORKSPACE_ROOT=
TEMPA_DOCKER_BIN=
TEMPA_COMPOSE_BIN=
TEMPA_LOG_LEVEL=debug
TEMPA_ENCRYPTION_KEY=